<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<body>

    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Flight App</a>
          <ul id="nav-mobile" class="right ">
            <li><a href="/logout">Logout</a></li>
            <!-- <li><a href="badges.html">Components</a></li> -->
            <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
          </ul>
        </div>
      </nav>

<div class="container">
    <!-- <div class="row"> -->
        <!-- <div class="col 10 offset-s1"> -->
        <div class="card-panel">
            <h4>Available flights</h4>
            <ul class="collapsible">
                {% for i in flights%}
                <li>
                  <div class="collapsible-header"> <i class="material-icons">flight_takeoff</i> <b>{{i.flight_Name}}</b> <span class="   grey-text  badge right" ><b>{{i.from_place}} to {{i.to_place}}</b>  </span> <span class="teal white-text btn badge" onclick='book_ticket("{{i.id}}","{{user.id}}")'>Book</span></div>
                  <div class="collapsible-body"><span>Flight Name : {{i.flight_Name}}
                      <br>
                      Time : {{i.time}}
                      <br>
                      No.of seats available : {{i.seat}}
                      <br>
                      From_place : {{i.from_place}}
                      <br>
                      To_place : {{i.to_place}}
                  </span></div>
                </li>
                {%endfor%}
              </ul>

        </div>

        <div class="card-panel">
            <h4>Booked flights</h4>
            <ul class="collapsible">
                {% for i in flights_book%}
                <li>
                  <div class="collapsible-header"> <i class="material-icons">flight_takeoff</i> <b>{{i.flight_Name}}</b> <span class="   grey-text  badge right" ><b>{{i.from_place}} to {{i.to_place}}</b>  </span> <span class=" white-text grey btn  badge" >Booked</span></div>
                  <div class="collapsible-body"><span>Flight Name : {{i.flight_Name}}
                      <br>
                      Time : {{i.time}}
                      <br>
                      No.of seats available : {{i.seat}}
                      <br>
                      From_place : {{i.from_place}}
                      <br>
                      To_place : {{i.to_place}}
                  </span></div>
                </li>
                {%endfor%}
              </ul>

        </div>



        <!-- </div> -->
    <!-- </div> -->




</div>


<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {});
  });



  async function book_ticket(flight_id,user_id){
    console.log(flight_id,user_id);
    // const axios = require('axios');
    const res = await axios.post(
        '/book-ticket',
        {
            flight_id: flight_id,
            user_id: user_id,
        });
        window.reload();

  }
</script>
</body>
</html>